
body {
  font-family: 'Roboto', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
.navbar-brand {
  font-family: 'Aldrich', '微軟正黑體', sans-serif!important;
  text-shadow: 3px 3px #111;
}

#top-nav {
  border-width: 0 0 2px;
  border-color: #444;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: -1;
  background-color: #111;
}

@media (max-width: 768px) {
  #particles-js {
    height: 400px;
  }
}
@media (max-width: 668px) {
  #particles-js {
    height: 500px;
  }
}


#home-masthead {
  padding: 120px 0;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px black;
  font-family: 'Aldrich', sans-serif;
}

#home-masthead .title {
  font-size: 5em;
}

#home-masthead .subtitle {
  font-size: 1.5em;
  padding-left: 5px;
}

#home-masthead .title, 
#home-masthead .subtitle {
  text-shadow: 0px 0px 7px #444, 0px 0px 7px #444, 0px 0px 5px #444;
}

#contest-info {
  line-height: 1.6em;
}

#content {
  padding-top: 30px;
  padding-bottom: 20px;
}

#footer {
  text-align: center;
}

/* dashboard-challenges */

#dashboard-challenges {
  margin-right: -13px;
}

#dashboard-challenges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dashboard-challenges li {
  display: block;
}

#challenge-list {
  width: 100%;
}

#challenge-list .solved > .challenge-info {
  opacity: .3;
}

.flag-list .solved {
  background-color:#3c763d !important;
}

.flag-list .other-solved{
	background: #a56000!important;
}

.challenge-entry {
  width: 32%;
  height: 150px;
  margin: 0.5%;
  float: left;
  background-color: #282828;
  box-shadow: inset 0 0 10px #3a3a3a;
  cursor: pointer;
  position:relative;
}

@media (max-width: 768px) {
  .challenge-entry {
    width: 48%;
  }
}

.challenge-entry:hover {
  box-shadow: 0 0 10px #111;
}

.challenge-info {
  float: left;
  width: 100%;
  height: 150px;
  padding: 8px 10px;
  text-align: center;
}

.challenge-entry.locked div {
  display: table;
  width: 100%;
  height: 100%;
}

.challenge-entry.locked div p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 80px;
  color: #888;
}

.challenge-info .title {
  display: table;
  height: 100%;
  width: 100%;
  font-size: 1.3em;
}

.challenge-info .title p {
  display: table-cell;
  vertical-align: middle;
  max-width: 145px;
  word-wrap: break-word;
}

.challenge-info .title p .tags {
  font-size: 0.8em;
}

.flag-list {
  position: absolute;
  right: 0;
  z-index: 10;
  max-height:100px;
}

.flag-list li {
  background-color: #555;
  margin: 5px 0;
  padding: 3px 8px;
}

.flag-list li:first-child {
  margin-top: 10px;
}

.modal-title {
  font-size: 1.2em;
}

.modal-dialog {
  padding-top: 5%;
}

.modal-content {
  position: relative;
  background-color: #252525;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.modal-header, .modal-footer {
  border-color: #111;
}

#challenge-description {
  margin-bottom: 50px;
}

#challenge-solved_times {
  margin-top: 5px;
}

#submit-status {
  margin-top: 8px;
  text-align: left;
}


/* dashboard-scoreboard */

#mini-scoreboard {
  width: 100%;
  table-layout: fixed;
}

#mini-scoreboard li {
  font-size: 1.15em;
}

#mini-scoreboard span {
  margin: 0 5px;
}

#mini-scoreboard .self {
  background: #494949;
}

/* dashboard-announcements */

#dashboard-announcements {
  overflow-y: scroll;
  height: 150px;
  margin-bottom: 40px;
  background-color: #282828;
  box-shadow: inset 0 0 10px #3a3a3a;
  border-radius: 3px;
  padding: 15px 0;
}

/* scoreboard */

#scoreboard {
  table-layout: fixed;
  padding: 10px 10px 5px
}

#scoreboard .solved {
  background-color: #555 !important;
}

#scoreboard .team-url, 
#scoreboard .team-url:hover, 
#scoreboard .team-url:active, 
#scoreboard .team-url:visited {
  color: #CCC;
}

#scoreboard .show-on-hover {
  position: relative;
  white-space: nowrap;
}

#scoreboard .show-on-hover div {
  position: absolute;
  display: none;
}

#scoreboard .show-on-hover:hover div {
  display: block;
  z-index: 10;
}

#scoreboard .show-on-hover.flag div {
  top: -2.8em;
}

#scoreboard .show-on-hover.flag div p {
  font-size: 0.8em;
}


/* trend */

#trend {
  width: 100%;
  height: 500px;
}
#trend_tooltip {
  position: absolute;
  display: none;
  border: 3px solid black;
  background-color: white;
  opacity: 0.8;
  padding: 3px;
  color: blue;
}

#message-area{
  padding-top: 30px;
  widows: 100%;
}

#challenge-solved-team .table {
  background-color: #252525; 
  margin-bottom: 0;
}

#challenge-solved-team .table a, 
#challenge-solved-team .table a:hover, 
#challenge-solved-team .table a:active, 
#challenge-solved-team .table a:visited {
  color: #CCC;
  text-decoration: underline;
}

#modal-hint {
  text-align: left!important;
}

pre {
  background-color: #161616;
	padding: 0;
	color: #CCC;
	border: 0;
	border-radius: 0;
}

code {
  padding: 1px 4px;
  font-size: 85%;
  border-radius: 0;
}

.score-table-simple tbody > tr {
  cursor: pointer!important;
}

.help-block {
  margin-bottom: 0;
  color: #777;
}

